body {
  /* border: 5px solid black; */
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#root {
  width: 100%;
}

/*
NOTE:
  do not set canvas size with css!
  only set size via inline width
  & height attributes on element
*/
canvas {
  border: 1px solid orange;
  display: block;
  margin: 0 auto;
  margin-top: 10%;
}
