body {
  /* border: 5px solid black; */
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

div#root {
  /* border: 1px solid red; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

div#barRef {
  border: 1px solid orange;
  width: 80%;
  height: 80%;
}
